.wrapper {
  display: inline-block;
  background: linear-gradient(144deg, #cacd24, #fd2222aa, #63097aaa);
}

.wrapper > div {
  margin: 0 75px;
}

.input-wrapper {
  padding-top: 20px;
}

.input-wrapper label {
  width: 60px;
  display: inline-block;
}

.data-wrapper {
  padding-bottom: 20px;
}

ul.fruit-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 60px;
}

ul.fruit-list li {
  margin-top: 10px;
  display: block;
  width: 150px;
  text-align: center;
  background: #fff;
  border-radius: 7px;
}